<div class="container">
<form [formGroup]="inputForm" (ngSubmit)="onSubmit()">
    <div *ngIf="!compact">
    <h1>The "Millionaire Next Door" Calculator</h1>
    <hr>
    "Multiply your age times your realized pretax annual household income from all sources except inheritances. Divide by ten. This, less any inherited wealth, is what your net worth should be." - Dr. Thomas Stanley, author.
    <br><br>
    </div>
    <div class="card rounded bg-light">
        <div class="row mb-4 mt-4 ms-2">
            <label for="age" class="col-sm-4 col-form-label-xs">Age:</label>
            <div class="col-sm-4">
                <choose-quantity id="age" tabindex="1" class="form-control-xs w-50" isReadOnly="{{ resultsAvailable }}" minValue="18" increment="0" decimals="0" formControlName="age"></choose-quantity>
            </div>
            <label for="age" class="col-sm-4 col-form-label-xs small">Enter your age.</label>
        </div>
        <div class="row mb-4 ms-2">
            <label for="grossIncome" class="col-sm-4 col-form-label-xs">Annual wage and salary income:</label>
            <div class="col-sm-4">
                <choose-quantity id="grossIncome" tabindex="2" class="form-control-xs w-50" isReadOnly="{{ resultsAvailable }}" minValue="0" increment="0" decimals="0" currency="$" formControlName="grossIncome"></choose-quantity>
            </div>
            <label for="grossIncome" class="col-sm-4 col-form-label-xs small">Enter your gross income.</label>
        </div>
        <div class="row mb-4 ms-2">
            <label for="otherIncome" class="col-sm-4 col-form-label-xs">Interest and dividend income:</label>
            <div class="col-sm-4">
                <choose-quantity id="otherIncome" tabindex="3" class="form-control-xs w-50" isReadOnly="{{ resultsAvailable }}" minValue="0" increment="0" decimals="0" currency="$" formControlName="otherIncome"></choose-quantity>
            </div>
            <label for="otherIncome" class="col-sm-4 col-form-label-xs small">Enter any other income you received.</label>
        </div>
        <div class="row mb-4 ms-2">
            <label for="inheritance" class="col-sm-4 col-form-label-xs">Inheritance:</label>
            <div class="col-sm-4">
                <choose-quantity id="inheritance" tabindex="4" class="form-control-xs w-50" isReadOnly="{{ resultsAvailable }}" minValue="0" increment="0" decimals="0" formControlName="inheritance"></choose-quantity>
            </div>
            <label for="inheritance" class="col-sm-4 col-form-label-xs small">Enter the value of all inheritances you received.</label>
        </div>
        <div class="row mb-4 ms-2">

        </div>
    </div>
</form>
<hr>
<div class="row">
    <div class="col-sm-12 text-center">
        <button mat-button mat-raised-button color="primary" class="w-100" (click)="onSubmit()">{{ !resultsAvailable ? "Calculate" : "Reset" }}</button>
    </div>
</div>
<div *ngIf="resultsAvailable">
<hr>
<div class="card rounded bg-light">
    <div class="row mb-4">
        <div class="row mb-4 mt-4 ms-2">
            <div class="col-sm-4 col-form-label-xs">If your Net Worth is less than</div>
            <div class="col-sm-4">  
                <input id="uawNetWorthStr" class="form-control-xs w-100" [value]="uawNetWorthStr" readonly>
            </div>
            <div class="col-sm-4 col-form-label-xs">you are a <strong>(UAW)</strong> Under Accumulator of Wealth.</div>
        </div>
        <div class="row mb-4 ms-2">
            <div class="col-sm-4 col-form-label-xs">If your Net Worth is about equal to</div>
            <div class="col-sm-4">
                <input id="aawNetWorthStr" class="form-control-xs w-100" [value]="aawNetWorthStr" readonly>
            </div>
            <div class="col-sm-4 col-form-label-xs">you are an <strong>(AAW)</strong> Average Accumulator of Wealth.</div>
        </div>
        <div class="row mb-4 ms-2">
            <div class="col-sm-4 col-form-label-xs">If your Net Worth is more than</div>
            <div class="col-sm-4">
                <input id="pawNetWorthStr" tabindex="3" class="form-control-xs w-100" [value]="pawNetWorthStr" readonly>
            </div>
            <div class="col-sm-4 col-form-label-xs">you are a <strong>(PAW)</strong> Prodigious Accumulator of Wealth.</div>
        </div>
    </div>
</div>
</div>
</div>
